<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rappi Marvel</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/js-md5/src/md5.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/CharacterCntl.js"></script>
    <script src="app/services/CharacterService.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app="rappi-fe">
<div ng-controller="CharacterCntl" ng-init="findAll()">
    <p>Name : <input type="text" ng-model="name"></p>
    <h1>Hello {{name}}</h1>

    <div class="container">
        <div ng-repeat="character in characters" ng-if="$index % 2 == 0" class="row">
            <div class="col-xs-4">{{characters[$index].name}}</div>
            <div class="col-xs-4" ng-if="characters.length > ($index + 1)">{{characters[$index + 1].name}}</div>
        </div>

        <ul uib-pagination total-items="totalCharacters" ng-model="currentPage" ng-change="findAll()"
            boundary-links="true" class="pagination-sm" max-size="5" ng-show="characters.length != 0"></ul>
    </div>
</div>
</body>
</html>